<div class="movie_title">
    {{content.field_title}}
</div>
<br>
<br>
<div class="director">
    {{content.field_director}}
</div>
<br>
<br>
<div class="actors">
    {{content.field_actors}}
</div>
<br>
<br>
<div class="movie_description">
    {{content.body}}
</div>